absl-py==2.0.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.4.1
beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
cloudpickle==3.0.0
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
dateutils==0.6.12
debugpy==1.8.0
decorator==5.1.1
empyrical==0.5.5
executing==2.0.1
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.45.1
frozendict==2.3.9
fsspec==2023.10.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.3
gymnasium==0.29.1
html5lib==1.1
idna==3.6
ipykernel==6.26.0
ipython==8.18.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
lxml==4.9.3
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mpmath==1.3.0
multitasking==0.0.11
nest-asyncio==1.5.8
networkx==3.2.1
nsetools==1.0.11
numpy==1.26.2
oauthlib==3.2.2
packaging==23.2
pandas==2.1.3
pandas-datareader==0.10.0
parso==0.8.3
peewee==3.17.0
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.0.0
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyfolio==0.9.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
soupsieve==2.5
stable-baselines3==2.2.1
stack-data==0.6.3
stockstats==0.6.2
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
threadpoolctl==3.2.0
torch==2.1.1
tornado==6.3.3
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.12
webencodings==0.5.1
Werkzeug==3.0.1
yfinance==0.2.32
absl-py==1.4.0
accelerate==0.19.0
aiodns==3.1.1
aiofiles==23.1.0
aiohttp==3.8.4
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
alembic==1.11.1
altair==4.2.2
annoy==1.17.3
anyio==3.6.2
appdirs==1.4.4
apturl==0.5.2
argilla==1.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astroid==2.15.5
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
auth0-python==4.2.0
Authlib==1.2.0
azure-ai-formrecognizer==3.3.0b1
azure-common==1.1.28
azure-core==1.26.4
backcall==0.2.0
backoff==2.2.1
bcrypt==3.2.0
beautifulsoup4==4.12.2
beir==0.2.3
bidict==0.22.1
bing-image-downloader==1.1.2
black==23.3.0
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.9
boilerpy3==1.0.6
boto3==1.26.142
botocore==1.29.142
bpemb==0.3.4
Brlapi==0.8.3
cachetools==5.3.0
canals==0.2.2
catalogue==2.0.8
cattrs==23.1.1
ccxt==3.0.59
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chainlit==0.2.106
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.25
click==8.0.4
clickhouse-connect==0.5.24
cloudpickle==2.2.1
cmake==3.25.0
cohere==4.6.0
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.5
comm==0.1.3
command-not-found==0.3
commonmark==0.9.1
confection==0.0.4
conllu==4.5.2
contextlib2==21.6.0
contourpy==1.0.7
courlan==0.9.2
coverage==7.2.7
craft-text-detector==0.4.3
cryptography==40.0.2
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.7
databind.core==4.3.0
databind.json==4.3.0
databricks-cli==0.17.7
dataclasses-json==0.5.7
datasets==2.12.0
dateparser==1.1.8
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
diffusers==0.17.1
dill==0.3.6
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
dlib==19.24.2
dnspython==2.3.0
docker==6.1.2
docopt==0.6.2
docspec==2.2.1
docspec-python==2.2.1
docstring-parser==0.11
duckdb==0.8.0
duplicity==0.8.21
easyocr==1.6.2
elasticsearch==7.17.9
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl#sha256=c8ac64840c1eb3e3ca7bd38bd1e1c48fb0faeb2449d54d01d5ce629af4595775
entrypoints==0.4
et-xmlfile==1.1.0
Events==0.4
exceptiongroup==1.1.1
executing==1.2.0
face-recognition==1.3.0
face-recognition-models==0.3.0
faiss-cpu==1.7.2
Farama-Notifications==0.0.4
farm-haystack==1.17.0
fastapi==0.95.2
fastcore==1.5.29
fasteners==0.14.1
fastjsonschema==2.16.3
fastprogress==1.0.3
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.12.0
flair==0.12.2
Flask==2.2.5
Flask-Cors==3.0.10
Flask-Limiter==3.3.1
Flask-SocketIO==5.3.4
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gdown==4.4.0
generalimport==0.3.1
gensim==4.3.1
gevent==22.10.2
gevent-websocket==0.10.1
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.90.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-spreadsheet==0.0.6
googleapis-common-protos==1.59.0
gpustat==1.1
gradio==3.32.0
gradio_client==0.2.5
graphlib==0.9.5
greenlet==2.0.2
griptape==0.9.1
griptape-tools==0.11.0
grpcio==1.54.2
grpcio-tools==1.48.2
gunicorn==20.1.0
gym-trading-env==0.3.3
gymnasium==0.29.1
gyp==0.1
h11==0.14.0
h2==4.1.0
h5py==3.8.0
haystack-memory==0.7
hnswlib==0.7.0
hpack==4.0.0
htmldate==1.4.3
htmlmin==0.1.12
httpcore==0.16.3
httplib2==0.20.2
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.14.1
humanfriendly==10.0
hyperframe==6.0.1
hyperopt==0.2.7
identify==2.5.24
idna==3.3
ImageHash==4.3.1
imageio==2.28.1
importlib-metadata==6.0.1
importlib-resources==5.12.0
inflect==6.0.4
iniconfig==2.0.0
install==1.3.5
ipykernel==6.23.0
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
Janome==0.4.2
jarowinkler==1.2.3
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupytercontrib==0.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jusText==3.0.0
keras==2.11.0
keyring==23.5.0
kiwisolver==1.4.4
langchain==0.0.177
langcodes==3.3.0
langdetect==1.0.9
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
lazy_loader==0.2
Levenshtein==0.21.1
libclang==16.0.0
limits==3.5.0
linkify-it-py==2.0.2
lit==15.0.7
llama-index==0.6.12
llvmlite==0.40.0
lmdb==1.4.1
lockfile==0.12.2
loguru==0.7.0
louis==3.20.0
lpips==0.1.4
lxml==4.9.2
lz4==4.3.2
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mergedeep==1.3.4
mistune==2.0.5
mkdocs==1.4.3
mlflow==2.3.2
mmh3==3.0.0
monotonic==1.6
more-itertools==8.10.0
mpld3==0.3
mpmath==1.2.1
msg-parser==1.2.0
msgpack==1.0.5
msrest==0.7.1
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
murmurhash==1.0.9
mypy==1.3.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.0
ninja==1.11.1
nltk==3.8.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.3
nr-date==2.0.0
nr-stream==1.1.5
nr.util==0.8.12
num2words==0.5.12
numba==0.57.0
numexpr==2.8.4
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==11.525.112
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
onnx==1.12.0
onnxruntime==1.14.1
onnxruntime-tools==1.7.0
openai==0.27.7
openai-whisper==20230308
openapi-schema-pydantic==1.2.4
opencensus==0.11.2
opencensus-context==0.1.3
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
openpyxl==3.1.2
opensearch-py==2.2.0
opentelemetry-api==1.18.0
opentelemetry-exporter-otlp==1.18.0
opentelemetry-exporter-otlp-proto-common==1.18.0
opentelemetry-exporter-otlp-proto-grpc==1.18.0
opentelemetry-exporter-otlp-proto-http==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-proto==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.8.12
outcome==1.2.0
overrides==7.3.1
packaging==23.1
pandas==1.5.3
pandas-profiling==3.6.6
pandas-stubs==2.0.1.230501
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
pathspec==0.11.1
pathy==0.10.1
patsy==0.5.3
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.9.0
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
platformdirs==3.5.1
pluggy==1.0.0
portalocker==2.7.0
posthog==3.0.1
pptree==3.1
pre-commit==3.3.2
preshed==3.0.8
prettytable==3.9.0
prometheus-client==0.13.1
prompt-toolkit==3.0.38
promptify==0.1.4
protobuf==3.19.6
psutil==5.9.5
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.3.14
py3nvml==0.2.7
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.11
pycairo==1.20.1
pycares==4.4.0
pyclipper==1.3.0.post4
pycparser==2.21
pycups==2.0.1
pydantic==1.10.7
pydeck==0.8.1b0
pydoc-markdown==4.8.0
pydub==0.25.1
pyecharts==2.0.4
pygame==2.5.2
Pygments==2.15.1
PyGObject==3.42.1
pygraphviz==1.11
PyJWT==2.7.0
pylint==2.17.4
pymacaroons==0.13.0
pymilvus==2.0.2
Pympler==1.0.1
PyMuPDF==1.22.3
PyNaCl==1.5.0
pypandoc==1.11
pyparsing==2.4.7
PyPDF4==1.27.0
pyproject_api==1.5.1
pyre-extensions==0.0.29
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-custom-exit-code==0.3.0
python-apt==2.4.0+ubuntu2
python-bidi==0.4.2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-docx==0.8.11
python-dotenv==1.0.0
python-engineio==4.4.1
python-frontmatter==1.0.0
python-graphql-client==0.4.3
python-json-logger==2.0.7
python-Levenshtein==0.21.1
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
python-socketio==5.8.0
pytorch-fid==0.3.0
pytorch-triton-rocm==2.0.1
pytorch_revgrad==0.2.0
pytrec-eval==0.5
pyttsx3==2.90
pytz==2022.1
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.0.2
qdrant-client==1.2.0
qdrant-haystack==1.0.2
quantulum3==0.9.0
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
ray==1.13.0
rdflib==6.3.1
redis==4.5.5
regex==2022.10.31
reportlab==3.6.8
requests==2.28.2
requests-cache==0.9.8
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.0.1
rsa==4.9
s3transfer==0.6.1
schema==0.7.5
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.12.2
SecretStorage==3.3.1
segtok==1.5.11
selenium==4.9.1
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
seqeval==1.2.2
shapely==2.0.1
simplejson==3.19.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SpeechRecognition==3.10.0
SQLAlchemy==1.4.48
SQLAlchemy-Utils==0.41.1
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.6
sseclient-py==1.7.2
ssh-import-id==5.11
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.13.5
stopit==1.1.2
streamlit==1.22.0
streamlit-chat==0.0.2.2
stringcase==1.2.0
sympy==1.11.1
systemd-python==234
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-rocm==2.11.0.540
tensorflow-text==2.11.0
termcolor==2.3.0
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.4.12
tika==2.6.0
tiktoken==0.4.0
tinycss2==1.2.1
tld==0.13
tokenize-rt==5.0.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.8
toolz==0.12.0
torch==2.0.0
torch-fidelity==0.3.0
torchaudio==2.0.2+rocm5.4.2
torcheval==0.0.6
torchmetrics==0.11.4
torchtnt==0.1.0
torchvision==0.15.1
tornado==6.3.1
tox==4.5.2
tqdm==4.65.0
trafilatura @ git+https://github.com/griptape-ai/trafilatura.git@5cfa9dfbbc2346782170e0e674d8adf231111e64
traitlets==5.9.0
transformer-smaller-training-vocab==0.2.4
transformers==4.29.1
trio==0.22.0
trio-websocket==0.10.2
triton==2.0.0
typeapi==1.4.3
typeguard==2.13.3
typer==0.7.0
types-pytz==2023.3.0.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.2
ufw==0.36.1
ujson==5.1.0
unattended-upgrades==0.1
unstructured==0.6.8
uptrace==1.18.0
uri-template==1.2.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.16
usb-creator==0.3.7
uvicorn==0.16.0
uvloop==0.17.0
validators==0.20.0
virtualenv==20.23.0
visions==0.7.5
wadllib==1.3.6
Wand==0.6.11
wasabi==1.1.2
watchdog==3.0.0
watchdog-gevent==0.1.1
watchfiles==0.19.0
wcwidth==0.2.6
weaviate-client==3.18.0
webcolors==1.13
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.3.4
widgetsnbextension==4.0.7
Wikipedia-API==0.5.8
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xformers==0.0.20
xkit==0.0.0
XlsxWriter==3.1.1
xmltodict==0.13.0
xxhash==3.2.0
yapf==0.33.0
yarl==1.9.2
ydata-profiling==4.1.2
zipp==1.0.0
zope.event==4.6
zope.interface==6.0
zstandard==0.21.0
